.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    gap: 10px;
}
p{
    border: solid 1px black;    
    border-radius: 10px;
    
}
h1{
    text-align: center;
}