#container {
  display: flex;
  flex-direction: column;
}

#container > div{
  background-color:  lightgrey;
  margin-bottom: 12px;
  padding: 5px;
  border: 1px solid silver;
  border-radius: 10px;
}